<form method="post" action="{{ action }}">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
        <label for="input-title">Title</label>
        <input name="title" type="text" class="form-control" id="input-title" placeholder="" value="{{ page.title }}">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="input-slug">Slug</label>
        <input name="slug" type="text" class="form-control" id="input-slug" placeholder="" value="{{ page.slug }}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-content">Content</label>
    <textarea name="content" class="form-control" id="input-content" rows="20">{{ page.content }}</textarea>
  </div>
  <input name="parentId" type="hidden" value="{{ page.parentId }}">
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-default">Reset</button>
</form>

