{% extends '../layout.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}

{% if page.hasPlugin.mermaid %}
  <link rel="stylesheet" href="/components/mermaid/dist/mermaid.css">
  <script src="/components/mermaid/dist/mermaid.min.js"></script>
{% endif %}


{% if page.hasPlugin.katex %}
<link rel="stylesheet" href="/components/KaTeX/dist/katex.min.css">
<script src="/components/KaTeX/dist/katex.min.js"></script>
<script src="/assets/scripts/doc-ready.js"></script>
<script>
docReady(function() {
  var tex = document.getElementsByClassName("tex");
  Array.prototype.forEach.call(tex, function(el) {
    katex.render(el.getAttribute("data-expr"), el);
  });
});
</script>
{% endif %}

<script>
function deleteConfirm(self) {
  if (confirm('Are you sure?')) {
    var f = document.createElement('form');
    self.parentNode.appendChild(f);
    f.style.display = 'none';
    f.method = 'POST';
    f.action = self.href;
    f.submit();
  };
  return false;
}
</script>
{% endblock %}


{% block body %}

{% if page.parentId %}
<ol class="breadcrumb">
  {% if parent %}
    {% if parent.slug != 'home' %}
      <li><a href="/pages/{{ parent.parentId.toString() }}">...</a></li>
    {% endif %}
    <li><a href="/pages/{{ parent.linkName() }}">{{ parent.title }}</a></li>
  {% endif %}
  <li class="active">{{ page.title }}</li>
</ol>
{% endif %}

<div class="panel panel-inverse">
  <div class="panel-heading">
    <small class="text-muted pull-right">
      <a href="/pages/{{ page.id }}/versions" class="label label-warning">History</a>

      {% if user and (user.id == page.createdBy) %}
      <a href="/pages/new?parentId={{ page.linkName() }}" class="label label-success">New</a>
      <a href="/pages/{{ page.id }}/edit" class="label label-info">Edit</a>
      {% endif %}

    </small>
    <h3 class="panel-title">{{ page.title }}</h3>
  </div>

  {% if pager.skip < 1 %}
  <div class="panel-body markdown-content">
    {{ page.rendered|raw }}
  </div>
  {% endif %}

  {% if children %}
    {% for child in children %}
    <div class="panel-body{% if loop.index % 2 %} odd{% endif %}">
      <div class="media">
        {#
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="/assets/images/default-avatar.svg" alt="..." width="48" height="48">
          </a>
        </div>
        #}
        <div class="media-body">
          <h4 class="media-heading"><a href="/pages/{{ child.linkName() }}">{{ child.title }}</a></h4>
          <span class="text-muted">
            <a href="" class="text-muted"><strong>{{ child.createdBy.displayName() }}</strong></a> created {{ child.fromNow() }}
            {% if user and (user.id == child.createdBy.id) %}
            &middot;
            <a href="/pages/{{ child.id }}/edit" class="text-muted">Edit</a> &middot;
            <a href="/pages/{{ child.id }}/delete" onclick="return deleteConfirm(this);" class="text-muted">Delete</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>

{% if pager.count > pager.perPage %}
  <nav>
    <ul class="pager">
      {% if pager.prev < 0 %}
      <li class="disabled"><a href="#">Previous</a></li>
      {% else %}
      <li><a href="/pages/{{ page.linkName() }}?skip={{ pager.prev }}">Previous</a></li>
      {% endif %}

      {% if pager.next > pager.count %}
      <li class="disabled"><a href="#">Next</a></li>
      {% else %}
      <li><a href="/pages/{{ page.linkName() }}?skip={{ pager.next }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}


{% if page.parentId %}
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h3 class="panel-title">Comments</h3>
  </div>

  {% if comments.length %}
    {% for comment in comments %}
    <div class="panel-body{% if loop.index % 2 %} odd{% endif %}">
      <div class="media">
        {#
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="/assets/images/default-avatar.svg" alt="..." width="48" height="48">
          </a>
        </div>
        #}
        <div class="media-body">
          <div class="media-heading">
            <div class="text-muted">
              <a href="" class="text-muted"><strong>{{ comment.createdBy.displayName() }}</strong></a> created {{ comment.fromNow() }}
              {% if user and (user.id == comment.createdBy.id) %}
              &middot;
              <a href="/pages/comments/{{ comment.id }}/edit" class="text-muted">Edit</a> &middot;
              <a href="/pages/comments/{{ comment.id }}/delete" onclick="return deleteConfirm(this);" class="text-muted">Delete</a>
              {% endif %}
            </div>
          </div>
          <div class="markdown-content">
            {{ comment.rendered|raw }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  <div class="panel-body odd">
    <form method="post" action="/pages/{{ page.id }}/comments">
      <div class="form-group">
        <textarea name="content" class="form-control" id="input-content" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
