{% extends '../layout.html' %}

{% block title %}{{ version.title }}{% endblock %}

{% block body %}
<div class="panel panel-inverse">
  <div class="panel-heading">
    <small class="text-muted pull-right">
      <a href="/pages/{{page.id}}/versions" class="label label-default">Back</a>
    </small>
    <h3 class="panel-title">{{ version.title }} <small>(Revision {{ version.versionNo }})</small></h3>
  </div>

  <div class="panel-body markdown-content">
    <pre>{{ version.content }}</pre>
  </div>
</div>
{% endblock %}
